<h1>New Course</h1>

<%= form_with scope: :course, url: courses_path, local: true do |form| %>
  
  <%= render partial: 'courses_form_fields', locals: { form: form }%>

  <p>
    <%= form.submit %>
  </p>
  <% end %>