<h1>Edit Social link</h1>

<%= form_with(model: @social, local: true) do |form| %>
  
  <%= render partial: 'socials_form_fields', locals: { form: form }%>

  <p>
    <%= form.submit %>
  </p>
<% end %>