<h1>New Social</h1>

<%= form_with scope: :social, url: socials_path, local: true do |form| %>
  
  <%= render partial: 'socials_form_fields', locals: { form: form }%>

  <p>
    <%= form.submit %>
  </p>
<% end %>